
header {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 25px;
    
}

  
#container {
    margin: auto;
    display: grid;
    
    border: 10px solid red;
}
  
.grid-item {
    border: 1px solid black;
      
}

#settings {
    display: flex;
    margin-left: 110px;
    margin-right: 110px;
    justify-content: center;
    background-color: red;
    padding: 5px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}


.btn-small {
    padding: 10px;
    margin: 5px;
}

.btn-default {
    padding: 10px;
    margin: 5px;
}

.btn-big {
    padding: 10px;
    margin: 5px;
}


@media (max-width: 850px) {
    
}